/* ABOUT PAGE STYLES */
main > * {
    margin-bottom: clamp(7.5rem, 6.4437rem + 4.5070vw, 10.5rem);
}

main .hero {
    background-image: url("../assets/about/desktop/image-hero-whitecup.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.hero-about-copy {
    align-self: center;
    padding: 0 5.31rem;
}
.hero-about-copy h1 {
    font-family: 'Fraunces', sans-serif;
    color: #FEFCF7;
    font-size: clamp(1.75rem, 1.4859rem + 1.1268vw, 2.5rem);
    margin-bottom: 1.5rem;
}
.hero-about-copy p {
    font-family: 'Barlow',sans-serif;
    color: #FEFCF7;
    font-size: 1rem;
}
@media screen and (width > 475px) and (width < 1024px) {
    main .hero {
        background-image: url("../assets/about/tablet/image-hero-whitecup.jpg");
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .hero-about-copy {
        padding: 0 3.63rem;
    }
}
@media screen and (max-width: 500px) {
    main .hero {
        background-image: url("../assets/about/mobile/image-hero-whitecup.jpg");
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .hero-about-copy {
        padding: 0 1.5rem;
    }
}
/* ---------------------- COMMITMENT SECTION ---------------- */
.commitment {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    gap: 7.81rem;
    padding: 0 clamp(1.5rem, -0.2500rem + 11.7333vw, 10.31rem);

}
.commitment img {
    border-radius: .5rem;
}
.commitment-copy {
    align-self: center;
}
.commitment-copy h2 {
    font-family: 'Fraunces', sans-serif;
    font-size: clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem);
    margin-bottom: clamp(1.88rem, 1.8377rem + 0.1803vw, 2rem);
    color: #333d4b;
}
.commitment-copy p {
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #333d4b;
}
@media screen and (width > 475px) and (width < 1024px) {
    .commitment {
        gap: 4.31rem;
        padding: 0;
        /* background-color: firebrick; */
        /* display: flex; */
        /* padding: 0 2.5rem; */
    }
    .commitment-copy {
        align-self: auto;
    }
}
@media screen and (max-width: 500px) {
    .commitment {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .commitment-copy {
        text-align: center;
    }
}
/* ----------------- QUALITY SECTION --------------------------- */
.quality {
    background-image: url("../assets/about/desktop/bg-quality.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 474px;
    border-radius: 0.5rem;
    display: flex;
}
.quality-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}
.quality-grid picture {
    position: absolute;
    top: -88px;
    right: 85px;
}
.quality-copy {
    align-self: center;
    padding: 0 5.31rem;
}
.quality-copy h2 {
    font-family: 'Fraunces', sans-serif;
    color: #FEFCF7;
    line-height: 3rem;
    font-size: clamp(1.75rem, 1.4859rem + 1.1268vw, 2.5rem);
    margin-bottom: 2rem;
}
.quality-copy p {
    font-family: 'Barlow', sans-serif;
    color: #FEFCF7;
    line-height: 1.625rem;
    font-size: 1rem;
}
picture img {
    border-radius: 0.5rem;
}
@media screen and (width > 475px) and (width <= 1030px) {
    .quality {
        background-image: url("../assets/about/tablet/bg-quality.png");
        height: 488px;
        position: relative;
    }
    .quality-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        /* align-items: center; */
        justify-items: center;
    }
    .quality-grid picture {
        position: absolute;
        top: 0;
        right: 150px;
        /* left: 10px; */
        /* grid-area: 1 / 1 / 2 / 2;*/
        align-self: center;
    }
    .quality-copy {
        grid-area: 2 / 1 / 3 / 2;
        align-self: end;
        text-align: center;
        margin-bottom: 10rem;
    }
    .quality-copy h2 {
        margin-bottom: 1.5rem;
    }
}
/* ---------------- HEADQUARTERS --------------------- */
.headquarters {
    display: flex;
    flex-direction: column;
}
.headquarters h3 {
    font-family: 'Fraunces', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #83888F;
    margin-bottom: 4.5rem;
}
.headquarters .headquarters-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(327px, auto));
    row-gap: 5rem;
    container: headquarters / inline-size;
}
.headquarters .headquarters-container svg
{
    margin-bottom: 3rem;
}

.headquarters-container .headquarter h4
{
    font-family: 'Fraunces', sans-serif;
    font-size: clamp(1.75rem, 1.4859rem + 1.1268vw, 2.5rem);
    margin-bottom: 1.5rem;
}

.headquarters-container .headquarter address
{
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    text-align: left;
}
.headquarters-container .headquarter address ul {
    padding: 0;
    margin: 0;
}
.headquarters-container .headquarter address ul > li {
    list-style-type: none;
}
@container headquarters (width < 700px) {
    .headquarters-container .headquarter
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .headquarters-container .headquarter address {
            text-align: center;
        }
}
