.cta-plan {
    color: #FEFCF7;
    background-color: #0E8784;
    font-family: 'Fraunces', sans-serif;
    text-decoration: none;
    padding: 1em 2em;
    border-radius: 0.375rem;
    &:hover {
        background-color: #66D2CF;
    }
}
main>*
{
    margin-bottom: clamp(7.5em, 12vw + 2rem, 12.5em);
}
/* --------------------- HERO SECTION ------------ */
.hero {
    background-image: url("..//assets/home/desktop/image-hero-coffeepress.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    color: #FEFCF7;
    display: flex;
    border-radius: 0.625rem;
    container-type: size;
    container-name: hero;
}
.hero .hero-copy {
    padding-left: clamp(1.5em, 10vw - 1.75rem, 5.3em);
    padding-right: clamp(1.5rem, -28.764rem + 80.705vw, 43.87rem);
    align-self: center;
}
.hero-copy .break::after {
    content: "\a";
    white-space: pre;
}

.hero h1 {
    font-family: 'Fraunces', sans-serif;
    font-weight: bold;
    font-size: clamp(2.5em, 5vw + 1rem, 4.5em);
    line-height: clamp(2.5rem, 4vw + 1rem, 4.5rem);
    margin-bottom: 2rem;
}
.hero p {
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    opacity: 0.8;
    margin-bottom: 3.5rem;
    line-height: 1.625rem;
}
@container hero (width < 475px)
{
    .hero {
        background-image: url("../assets/home/mobile/image-hero-coffeepress.jpg");
    }
    .hero .hero-copy
    {
        text-align: center;
    }
}

@media screen and (width < 475px)
{
    .hero
        {
            background-image: url("../assets/home/mobile/image-hero-coffeepress.jpg");
        }
    .hero .hero-copy
    {
        text-align: center;
    }
    .hero-copy .break::after {
        content: none;
    }
}
@media screen and (width > 475px) and (width < 768px) {
    .hero {
        background-image: url("../assets/home/tablet/image-hero-coffeepress.jpg");
    }
    .hero-copy .break::after {
        content: none;
    }
}
/* --------------------- COLLECTION SECTION ------------ */
.collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.collection h2
{
    font-family: 'Fraunces', sans-serif;
    font-size: clamp(2rem, -1.5211rem + 15.0235vw, 12rem);
    background: linear-gradient(180deg, rgba(151, 151, 151, 1) 0%, rgba(254, 252, 247, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.collection .collection-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em; 
    grid-template-rows: 1fr;
}
.collection-grid .collection-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* width: 255px; */
}
.collection-card img {
    margin-bottom: 4.47rem;
}
.collection-card h3 {
    font-family: 'Fraunces', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.collection-card p {
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    line-height: 1.625rem;
}
/* --------------------- CHOOSE US SECTION ------------ */
.choose-us {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
}
.choose-us .choose-us-copy {
    color: #FEFCF7;
    grid-area: 1 / 1 / 3 / 13;
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 573px;
    width: 100%;
    background-color: #2c343e;
    padding: clamp(4rem, 3.2077rem + 3.3803vw, 6.25rem) clamp(1.5rem, -6.1144rem + 32.4883vw, 23.125rem) 0 clamp(1.5rem, -6.1144rem + 32.4883vw, 23.125rem);
}
.choose-us .card-grid {
    width: 100%;
    grid-area: 2 / 2 / 4 / 12;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    gap: 2em;

}
.choose-us .card-grid .card {
    background-color: #0E8784;
    color: #FEFCF7;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    padding: 4.5rem 3rem 3rem 3rem;
    text-align: center;
    border-radius: 8px;
    height: 382px;
}
.card-grid .card .card-copy {
    align-self: start;
}
.card-grid .card .card-copy h4 {
    font-family: 'Fraunces', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 900;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}
.card-grid .card .card-copy p {
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}
.choose-us-copy h3 {
    font-family: 'Fraunces', sans-serif;
    line-height: 3rem;
    font-size: clamp(1.75rem, 2vw + 1rem, 2.5rem);
}
.choose-us-copy p {
    font-family: 'Barlow', sans-serif;
    line-height: 1.625rem;
    font-size: 1rem
}
@media screen and (width > 700px) and (width < 1024px) {
    .choose-us .card-grid {
        grid-template-columns: 1fr;
    }
    .choose-us .card-grid .card {
        height: 180px;
        grid-template-columns: auto 1fr;
        grid-template-rows: 100px;
        padding: 2.56rem 3rem 2.56rem 4.38rem;
        gap: 3.44rem;
    }
    .card-grid .card .card-copy {
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: start;
    }
    .card-grid .card .card-copy h4 {
        margin-bottom: 1rem;
    }
}
@media screen and (width <= 425px) {
    .choose-us {
        display: grid;
        grid-template-rows: 350px 1fr;
    }
    .choose-us .choose-us-copy {
        height: 902px;
    }
    .choose-us .card-grid {
        /* padding: 0 1.5rem; */
        grid-area: 2 / 2 / 2  / 12;
    }
    .card-grid .card {
        width: 279px;
    }
}
/* --------------------- HOW IT WORKS SECTION ------------ */
.how-works > * {
    margin-bottom: 5em;
}
.how-works {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.how-works h4 {
    color: #83888F;
    font-family: 'Fraunces', sans-serif;
    line-height: 2em;
    font-size: 1.5em;
}
.how-works .step-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5em;
}
.step-card .break::after
{
    content: "\a";
    white-space: pre;
}
.step-card-grid .step-card h2{
    color: #FDD6BA;
    font-family: 'Fraunces', sans-serif;
    font-size: 4.5em;
    line-height: 4.5rem;
    margin-bottom: 2.38rem;
}
.step-card-grid .step-card h3 {
    color: #333D4B;
    font-family: 'Fraunces', sans-serif;
    font-size: clamp(1.75em, 2vw + 1rem, 2em);
    margin-bottom: 2.625rem;
}
.step-card-grid .step-card p {
    color: #333D4B;
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    line-height: 1.625rem;
}
.how-works .works-cta {
    flex-basis: auto;
}
@media screen and (width < 478px) {
    .how-works .works-cta {
        align-self: center;
    }
    .step-card .break::after {
        content: none;
    }
    .step-card > *:not(:last-child) {
        margin-bottom: 1.5rem;
    }
    .step-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .step-card p {
        text-align: center;
    }
}
