main>*
{
    margin-bottom: clamp(7.5rem, 6.4437rem + 4.5070vw, 10.5rem);
}
.hero {
    background-image: url("../assets/plan/desktop/image-hero-blackcup.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.hero .plan-hero-copy {
    align-self: center;
    padding: 0 5.31rem;
}
.plan-hero-copy h1 {
    font-family: 'Fraunces', sans-serif;
    color: #FEFCF7;
    font-size: clamp(2.5rem, 2vw + 1rem, 4.5rem);
    margin-bottom: 1.5rem;
}
.plan-hero-copy p {
    font-family: 'Barlow', sans-serif;
    color: #FEFCF7;
    font-size: 1rem;
    opacity: 0.8;
}
.create-a-plan-steps {
    background-color: #2c343e;
    display: flex;
    flex-direction: column;
    padding: clamp(1.5rem, 2vw + 1rem, 8rem) clamp(1.5rem, 2vw + 1rem, 5.31rem);
    container-type: inline-size;
    container-name: steps;
}
@container steps (max-width: 500px) {
    .line-graphic {
        display: none;
    }
}
.steps {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(285px, 380px));
    grid-template-rows: 1fr;
    margin-top: 5.16rem;
}
.step h2 {
    color: #FDD6BA;
    font-family: 'Fraunces',
        sans-serif;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 4.5rem;
    margin-bottom: 2.375rem;
}
.step h3 {
    color: #FEFCF7;
    font-family: 'Fraunces', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 2.25rem;
    margin-bottom: 2.625rem;
}
.step h3 .break::after
{
    content: "\a";
    white-space: pre;
}
.step p {
    color: #FEFCF7;
    font-family: Barlow;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    width: 285px;
}
.plan-questionnaire {
    display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
}
.question-list {
    grid-area: 1 / 1 / 7 / 2;
    
}
.question-list ul {
    list-style-type: none;
    padding: 0;
}
.question-list ul li > span {
    color: #0E8784;
    font-family: 'Fraunces', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 2rem;
    margin-right: 1.78rem;
}
.question-list ul li {
    color: #333D4B;
    font-family: 'Fraunces', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 2rem;
}
.question-list ul li:not(:last-child) {
    margin-bottom: 1.5rem;
}
.question-list ul svg {
    margin-bottom: 1.5rem;
}
.question-accordions {
    grid-area: 1 / 2 / 10 / 4;
}
.question-accordions > details {
    margin-bottom: 5.5rem;
}
summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    color: #83888F;
    font-family: 'Fraunces', sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 3rem;
    margin-bottom: 3.5rem;
}
summary > img {
    margin-left: 5rem;
}
/* REMOVE DEFAULT SUMMARY TRIANGLE ON SAFARI */
summary::-webkit-details-marker {
    display: none;
}
.order-summary {
    grid-area: 10 / 2 / 12 / 4;
}
.plan-button {
    grid-area: 12 / 3 / 13 / 4;
    align-self: end;
    text-decoration: none;
    padding: 1rem 2.22rem;
    border-radius: 0.375rem;
    background-color: #E2DEDB;
    color: #FEFCF7;
    text-align: center;
    font-family: 'Fraunces', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.5625rem;
}
.accordion > .accordion-container {
    --grid-layout-gap: 1.44rem;
    --grid-column-count: 3;
    --grid-item--min-width: 328px;

    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
        grid-gap: var(--grid-layout-gap);
    gap: var(--grid-layout-gap);
}
.accordion .item {
    border-radius: 0.5rem;
    background: #F4F1EB;
    padding: 2rem 1.75rem 5.25rem 1.75rem;
    /* width: 228px; */
}
.accordion .item h3 {
    color: #333D4B;
    font-family: 'Fraunces', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}
.accordion .item p {
    color: #333D4B;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
}
.order-summary {
    background-color: #2c343e;
    border-radius: 10px;
    padding: 3rem 4rem;
}
.order-summary h4 {
    color: #FFF;
    opacity: 0.5;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    font-style: normal; 
    font-weight: 400;
    line-height: 1.625rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.order-summary p {
    color: #FFF;
    font-family: 'Fraunces', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 2.5rem;
}
.order-summary p > span {
    color: #0E8784;
}
