@import '../variables/variables';

@mixin barlow-regular {
    font-family: $barlow;
    font-weight: 400;
    font-size: 16px;
}

@mixin barlow-bold {
    font-family: $barlow;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $grey;
    letter-spacing: .92px;
}

@mixin create-your-plan-button {
    width: 217px;
    height: 56px;
    border-radius: 6px;
    background-color: $darkCyan;
    color: $lightCream;
    font-family: $fraunces;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}