@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap");
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 24px 40px 24px;
}
nav ul {
  display: flex;
}
nav .mobile-menu-icon {
  display: block;
}
nav .menu-icon-close {
  opacity: 0;
  display: none;
}
nav .mobile-screen-menu {
  flex-direction: column;
  position: absolute;
  top: 95px;
  left: 0;
  width: 100%;
  height: 0;
  background: linear-gradient(180deg, #fefcf7 0%, rgba(254, 252, 247, 0.75) 50%, rgba(254, 252, 247, 0) 100%);
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
  visibility: hidden;
  transition: height 0.75s, opacity 0.75s, visibility 0.75s ease-out;
  transform-origin: top;
  z-index: 9999;
}
nav .mobile-screen-menu li {
  text-transform: capitalize;
  font-family: "Fraunces", serif;
  font-size: 24px;
  color: #333D4B;
}
nav .mobile-screen-menu li:nth-child(1) {
  margin-top: 80px;
}
nav .mobile-screen-menu li:nth-child(2) {
  margin: 32px 0;
}
@media (min-width: 768px) {
  nav {
    margin: 40px 40px 53px 40px;
  }
  nav .mobile-menu-icon {
    display: none !important;
  }
  nav .large-screen-menu li {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #83888F;
    letter-spacing: 0.92px;
  }
  nav .large-screen-menu li:nth-child(2) {
    margin: 0 33px;
  }
}
@media (max-width: 768px) {
  nav .large-screen-menu {
    display: none;
  }
}
@media (min-width: 1008px) {
  nav {
    margin: 43px 80px 43px 80px;
  }
}

body {
  background-color: #FEFCF7;
}

main {
  margin: 0 24px;
}
@media (min-width: 768px) {
  main {
    margin: 0 40px;
  }
}
@media (min-width: 1008px) {
  main {
    margin: 0 80px;
  }
}

.our-collection {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  margin-bottom: 120px;
}
.our-collection h2 {
  align-self: center;
  font-size: 40px;
  font-family: "Fraunces", serif;
  color: #83888F;
  background-image: linear-gradient(180deg, #83888F 0%, #FEFCF7 70%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding-bottom: 13px;
}
.our-collection .collection-grid {
  display: grid;
}
.our-collection .collection-grid .grid-item {
  display: flex;
  flex-direction: column;
}
.our-collection .collection-grid .grid-item:nth-child(-n+3) {
  margin-bottom: 48px;
}
.our-collection .collection-grid .grid-item img {
  margin-bottom: 24px;
}
.our-collection .collection-grid .grid-item .grid-item-content {
  display: flex;
  flex-direction: column;
}
.our-collection .collection-grid .grid-item .grid-item-content h3 {
  align-self: center;
  justify-self: center;
  font-family: "Fraunces", serif;
  font-size: 24px;
  color: #333D4B;
  margin-bottom: 16px;
}
.our-collection .collection-grid .grid-item .grid-item-content p {
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

.hero {
  margin: 0 24px;
  position: relative;
}
@media (min-width: 768px) {
  .hero {
    margin: 0 40px;
  }
}
@media (min-width: 1008px) {
  .hero {
    margin: 0 80px;
  }
}
.hero picture, .hero .hero-content {
  justify-self: stretch;
  align-self: stretch;
  -o-object-fit: cover;
  object-fit: cover;
}
.hero picture img, .hero picture source, .hero .hero-content img, .hero .hero-content source {
  display: block;
  border-radius: 10px;
  width: 100%;
}
.hero .hero-content {
  position: absolute;
  top: 110px;
  left: 0;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
}
@media (min-width: 501px) and (max-width: 768px) {
  .hero .hero-content {
    top: 10px;
  }
}
@media (min-width: 1025px) {
  .hero .hero-content {
    top: 20px;
    padding-left: 58px;
    padding-right: 233px;
  }
}
@media (min-width: 1008px) and (max-width: 1430px) {
  .hero .hero-content {
    top: 27px;
    padding-right: 300px;
  }
}
@media (min-width: 1440px) {
  .hero .hero-content {
    top: 117px;
    padding-right: 703px;
  }
}
.hero .hero-content h1 {
  font-family: "Fraunces", serif;
  color: #FEFCF7;
  font-size: calc(clamp(2.5rem, 5vw + 1rem, 4.8rem));
  text-align: center;
}
@media (min-width: 768px) {
  .hero .hero-content h1 {
    text-align: left;
  }
}
.hero .hero-content p {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FEFCF7;
  line-height: 25px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 39px;
}
@media (min-width: 768px) {
  .hero .hero-content p {
    text-align: left;
  }
}
.hero .hero-content .create-plan-link {
  width: 217px;
  height: 56px;
  border-radius: 6px;
  background-color: #0E8784;
  color: #FEFCF7;
  font-family: "Fraunces", serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (Min-width: 768px) {
  .hero .hero-content .create-plan-link {
    align-self: flex-start;
  }
}

/*# sourceMappingURL=styles.css.map */
